.animate-btn {
  background: #000;
  border: $border;
  font-family: inherit;
  font-size: 1rem;

  cursor: pointer;
  padding: 12px 55px;
  display: inline-block;
  margin: 15px 15px;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  // position: relative;
  transition-duration: 0.7s;
  transition-timing-function: ease;

  text-transform: capitalize;

  a {
    color: #fff;
    text-decoration: none;
  }
}
