// .btn-wrapper {
//   transition-property: width;
//   transition-duration: 2s;
//   transition-timing-function: ease;

//   &:hover {
//     width: 250px;
//   }
// }

.animate-btn {
  animation: slide 20s linear alternate;
  background: #000;
  border: $border;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 15px 0;
  padding: 10px 30px;
  text-transform: capitalize;

  //   transition-property: width;
  //   transition-duration: 2s;
  //   transition-timing-function: ease;
  //   transition-delay: 1s;
  //   transition-duration: 0.7s;

  animation-fill-mode: both;

  a {
    color: #fff;
    text-decoration: none;
  }

  @include tablet {
    font-size: 1.1rem;
    padding: 12px 55px;
  }

  &:hover {
    background: #fff;

    a {
      color: #000;
    }
  }
}
