@import '../../sass/style';

.img {
  position: relative;
}
.slider-container {
  display: flex;
  @include flex(column, center, flex-start);
  position: absolute;
  top: 60%;
  left: 15%;
  /* width: 100%; -> Don't add. Will make width too wide.*/
}

.slide-text {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;
  text-shadow: 1px 1px 5px #353535;
  margin: 0;
  padding-bottom: 10px;
  width: 100%;

  @include tablet {
    font-size: 30px;
    line-height: 80px;
    letter-spacing: 1px;
  }

  @include desktop {
    font-size: 60px;
    line-height: 100px;
  }
}
