@import '../../sass/_variables';
@import '../../sass/mixins';
@import '../../sass/button';
// @import 'style.scss';

.animate-all {
  min-height: 90vh;
  max-height: 90vh;
  height: auto;
  width: 100vw;
}

.img {
  position: relative;
  //   height: 600px;
}
.slider-container {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 100%;
  //   padding-bottom: 3rem;

  @include tablet {
    top: 35%;
  }
  @include desktop {
    top: 60%;
  }
}

.slide-text {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  text-shadow: 1px 1px 5px #3535;
  margin: 0;
  padding-bottom: 10px;

  -webkit-animation-delay: 1s;
  animation-delay: 1s;

  @include tablet {
    font-size: 30px;
    line-height: 94px;
    letter-spacing: 1px;
  }

  @include desktop {
    font-size: 60px;
  }
}

.divider {
  width: 90px;
  height: 3px;
  background-color: $color-main;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.learn-more {
  a {
    font-weight: 700;
  }
}
